body {
    background-color:black;
}

img {
    width:100%;
}

.box_container_one {
    height: 565px;
    padding: 16px;
    background: black;
    border: 4px solid #e50914;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

}

.box_item_one {
    width: 250px;
    height: 180px;
    border: 4px solid #49ac49;
    background: gray;

}


.box_container_two {
    height: 565px;
    padding: 16px;
    background: black;
    border: 4px solid #e50914;
    display: flex;
    align-items: top;
    justify-content: center;
    gap: 8px;

}

.box_item_two {
    width: 250px;
    height: 60px;
    border: 4px solid #49ac49;
    border-radius:12px;
    background: gray;

}


.box_container_three {
    height: 565px;
    padding: 16px;
    background: black;
    border: 4px solid #e50914;
    display: flex;
    align-items: top;
    justify-content: center;
    gap: 8px;

}

.box_item_three {
    width: 250px;
    height: 60px;
    border: 4px solid #49ac49;
    border-radius:12px;
    background: gray;

}

h3 {
    font-family:monospace, 'Courier New', Courier;
    font-size:medium;
    font-weight:bold;
    color:whitesmoke;
    text-align:center;
}


/*
.box_sub-item {
    width: 80px;
    height: 60px;
    border: 4px solid gold;
    background: lightcoral;
}
*/
/*
.box_sub-item div {
    height: 5px;
    width: 8px;
    padding: 16px;
    border: 4px solid lawngreen;
    background: rebeccapurple;
    display: flex;
    flex-direction: row;
} */


/*
.box_item div {
    background: black;
    border: 4px solid #e50914;
    height: 60px;
    width: 70px;
    flex: 1 1 auto;
    
}
*/


.box_container .box_center {
    /*flex: 2 1 0%;*/
    /*flex-shrink: 0;*/
}