body {
    background-color:black;
}


.box_full {
    display: flex;
}

.box_full div {
    background: black;
    border: 4px solid #e50914;
    height: 100px;
    /*flex: 1 1 0%;*/
    
}

.box_full .two {
    /*flex: 2 1 0%;*/
}